@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1 {
    text-align: left;
    font-size: 3vw;
    padding-top: 20px;
    color: red;
    font-family: 'Merienda', cursive;
    background-color: #0E1A26;
}


.heading-txt {
    margin-left: 9%;
    margin-top: 9%;
    font-family: 'Merienda', cursive;
}

.github-logo {
    position: absolute;
    right: 2rem;
    width: 50px;
    top: 2rem;
    background-color: aliceblue;

}

#ip-txt,
#op-txt {
    margin: 1rem 2rem;
    padding: 1rem;
    width: 35vw;
    height: 20vh;
    height: 20vh;
    max-height: 15vh;
    border: 3px solid black;
    border-radius: 10px;
    outline: none;

}

/**Translate Button**/
#btn-translate {
    display: block;
    padding: 1rem;
    margin: 2rem 2rem;
    margin-top: 0;
    margin-left: 15%;
    border: 1px solid var(--background);
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Nova Slim', cursive;
}

#btn-translate:hover {
    background-color: burlywood;
}

.container {
    display: flex;
    /* flex-direction: column; */
    color: yellow;
    z-index: 1;

}


footer {
    clear: both;
    position: relative;
    background-color: burlywood;
    margin-top: 10rem;
    text-align: center;
    border-top-left-radius: 1rem;
    clear: right;
    width: 100vw;
    z-index: 2;
}

.footer-header {
    padding: 1rem 1rem;
    color: var(--gray);
    font-family: 'Nova Slim', cursive;

}

.footer .link {
    color: var(--gray);
}

.lists-item-inline {
    display: inline;
    padding: 0rem 0.7rem;
}

.image {
    position: absolute;
    z-index: 0;
    flex: 1;

}


.left {
    flex: 1;
    z-index: 1;
}

.groot {
    width: 100vw;
    height: 100vh;

}

h1 {
    text-align: center;
    font-size: 60px;
}

.heading {
    margin-left: 40px;
    margin-top: 40px;
}


@media only screen and (max-width: 640px) {

    #ip-txt,
    #op-txt {
        width: 80vw;
        text-align: center;
    }

    #btn-translate {
        margin-left: 39%;
        margin-top: 17rem;
        margin-bottom: 0;
        /* margin-bottom: 14rem;     */
    }

    footer {
        margin-top: 0;
    }

    .github-logo {
        width: 30px;
        right: 1rem;
        top: 1rem;
    }
}